NOVA_API_DB="{{ nova_api_galera_database | default('nova_api') }}"
NOVA_API_USER="{{ nova_api_galera_user | default('nova_api') }}"
NOVA_API_PASS="{{ nova_api_container_mysql_password }}"
NOVA_API_DB_HOST="{{ nova_api_galera_address | default(placement_galera_address) }}"
PLACEMENT_DB="{{ placement_galera_database }}"
PLACEMENT_USER="{{ placement_galera_user }}"
PLACEMENT_PASS="{{ placement_galera_password }}"
PLACEMENT_DB_HOST="{{ placement_galera_address }}"
MIGRATE_TABLES="allocations placement_aggregates consumers inventories projects resource_classes resource_provider_aggregates resource_provider_traits resource_providers traits users"
