# {{ ansible_managed }}
[uwsgi]
uid = {{ placement_system_user_name }}
gid = {{ placement_system_group_name }}

{% if placement_install_method == 'source' %}
virtualenv = /openstack/venvs/placement-{{ placement_venv_tag }}
{% endif %}
{% if placement_install_method == 'distro' and (ansible_os_family | lower) == 'debian' %}
plugin = python3
{% endif %}
wsgi-file = {{ placement_bin }}/{{ item.wsgi_name }}
http = {{ item.uwsgi_bind_address }}:{{ item.uwsgi_port }}

master = true
enable-threads = true
processes = {{ placement_wsgi_processes }}
threads = {{ placement_wsgi_threads }}
exit-on-reload = false
die-on-term = true
lazy-apps = true
add-header = Connection: close
buffer-size = {{ placement_wsgi_buffer_size }}
thunder-lock = true
logfile-chmod = 644
pidfile = /var/run/{{ item.service_name }}/{{ item.service_name }}.pid

# Avoid filling up the logs with health check requests from haproxy.
route-user-agent = ^osa-haproxy-healthcheck$ donotlog:

